/build
/build/*
/_build
/_build/*
/_builds
/_builds/*
/_install
/_install/*

/_logs
/_logs/*

/.kdev4
/.kdev4/*

*.kdev4

# swap
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# temporary
.netrwhist
*~

# Python compiled
*.pyc
